#-----------------------------------------------
# OPERATING SYSTEM
#-----------------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.Spotlight-V100
.Trashes


#-----------------------------------------------
# EDITOR AND GIT
#-----------------------------------------------
.git/
.vscode/
.project/
.settings/
*.clpprj


#-----------------------------------------------
# OTHERS
#-----------------------------------------------
*.tasks
composer.lock


#-----------------------------------------------
# PACKAGES AND LIBRARIES
#-----------------------------------------------
vendor/*
application/settings.json
application/libs/*
!application/libs/paginator
!application/libs/captcha


#------------------------------------------------------------------------
# APPLICATIONS
#------------------------------------------------------------------------
application/logs/*
application/resources/datasources/*
application/registry/*

application/conf/*
!application/conf/app.php
!application/conf/session.php

application/modules/controllers/*
!application/modules/controllers/accountsController.php
!application/modules/controllers/dashboardController.php
!application/modules/controllers/indexController.php
!application/modules/controllers/managementController.php

application/modules/views/*
!application/modules/views/dashboard
!application/modules/views/management

application/controllers/*
!application/controllers/accountsController.php
!application/controllers/errorsController.php
!application/controllers/backendController.php
!application/controllers/dashboardController.php

application/resources/views/*
!application/resources/views/_http_
!application/resources/views/_paginator_
!application/resources/views/accounts
!application/resources/views/dashboard
!application/resources/views/index

# temporal
application/temporal/configs/*
application/temporal/cache/*
application/temporal/session/*
application/temporal/templates_c/*

# content
public_html/content/uploads/*

# assets
public_html/assets/js/*
public_html/assets/components/*
!public_html/assets/components/angular
!public_html/assets/components/bootstrap
!public_html/assets/components/extendmejs
!public_html/assets/components/font-awesome
!public_html/assets/components/jquery


#------------------------------------------------------------------------
# API
#------------------------------------------------------------------------
api/logs/*
api/**/model/*
api/**/views/*
api/**/controllers/*
!api/v1/controllers/indexController.php
!api/v1/controllers/accountsController.php